.main-heading {
    color: #338573;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 30px;
}    

h2 {
    text-align: center;
    margin-bottom: 70px;
    background-color: #F4F5F7;
    width: 100%;
    padding-top: 0.55%;
    padding-bottom: 0.55%;
    margin-bottom: 1.5%;
}

.form-row {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px; 
}

.form-row > label,
.form-row > input,
.form-row > select {
    margin-bottom: 5px; 
}


.double-input-row {
    display: flex;
    flex-wrap: wrap; 
}

.double-input-row > div {
    flex: 1;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
}

.double-input-row > div:last-child {
    margin-right: 0;
}

input[type="text"],
input[type="url"],
input[type="date"],
textarea,
select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px; 
    width: 100%; 
}

button {
    padding: 10px;
    background-color: #338573;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}

button:hover {
    background-color: #2C6B57;
}

.footer {
    background-color: #338573;
    width: 100%;
    padding: 0.75%;
    margin-top: 1%;
    display: flex; 
    justify-content: center;
    align-items: center;
}