.main-heading {
    color: #338573;
    font-family: Arial, Helvetica, sans-serif;
}
.cont {
    display: flex;
}
button:hover, a:hover {
    cursor: pointer;
}
a:hover {
    text-decoration: underline;
}
.page-title {
    background-color: #F4F5F7;
    width: 100%;
    text-align: center;
    padding-top: 0.25%;
    padding-bottom: 0.25%;
    margin-bottom: 1.5%;
}
.page-heading {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-weight: bold;
}
.container {
    border: 1px solid lightgray;
    margin: 0% auto;
    width: 98%;
    border-radius: 7px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.image {
    width: 100px !important;
    height: 100px !important;
    background-color: #338573;
    border-radius: 100%;
    margin : 1% auto;
    margin-top: 1%;
    overflow: hidden;
}
img {
    width: 100%;
    height: 100%;
    margin : 0% auto;
}
#desc {
    padding-bottom: 15% !important;
}
.update-container {
    width: 100%;
}
.form-container {
    padding: 1%;
    display: flex;
    width: 100%;
}
.form-container div {
    width: 100%;
    padding: 0px;
    margin: 0px;
    text-align: center;
}
.reset-container {
    text-align: center;
}
.button-container {
    text-align: center;
}
textarea {
    display: block;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    padding-left: 0.5%;
    border: 2px solid lightgray;
    border-radius: 5px;
    width: 50%;
    margin: 2% auto;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    height: 80px;
    resize: vertical;
}
textarea:hover {
    border: 2px solid #338573;
}
p label {
    font-weight: bold;
}
.para {
    width: 50%;
    padding-left: 25%;
}
.inputs input {
    display: inline;
}
.inputs label {
    font-weight: normal;
}
input {
    display: block;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    padding-left: 0.5%;
    border: 2px solid lightgray;
    border-radius: 5px;
    width: 50%;
    margin : 2% auto;
}
input:hover {
    border: 2px solid#338573;
}
.submit, .button {
    background-color: #338573;
    border: 2px solid #338573;
    color:white;
    border-radius: 5px;
    margin-left: 2px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 7px 15px 7px 15px;
    margin-bottom: 1%;
}
.submit:hover, .button:hover {
    background-color: white;
    color: #338573;
}
.resetbutton {
    background-color: transparent;
    border: none;
    color:#338573;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0%;
}
.resetbutton:hover {
    text-decoration: underline;
}
.footer {
    background-color: #338573;
    width: 100%;
    bottom: 0px;
    left: 0px;
    padding: 0.75%;
    margin-top: 1%;
    position: fixed;
}

@media (max-width: 767px) {
    .main-heading {
        color: #338573;
        font-family: Arial, Helvetica, sans-serif;
    }
    button:hover, a:hover {
        cursor: pointer;
    }
    a:hover {
        text-decoration: underline;
    }
    .page-title {
        background-color: #F4F5F7;
        width: 100%;
        text-align: center;
        padding-top: 0.25%;
        padding-bottom: 0.25%;
        margin-bottom: 1.5%;
    }
    .page-heading {
        font-family: Arial, Helvetica, sans-serif;
        color: black;
        font-weight: bold;
    }
    .container {
        border: 1px solid lightgray;
        margin: 0% auto;
        width: 98%;
        border-radius: 7px;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
    }
    .image {
        width: 100px !important;
        height: 100px !important;
        background-color: #338573;
        border-radius: 100%;
        margin : 1% auto;
        margin-top: 1%;
        overflow: hidden;
    }
    img {
        width: 100%;
        height: 100%;
        margin : 0% auto;
    }
    #desc {
        padding-bottom: 15% !important;
    }
    .update-container {
        width: 100%;
    }
    .form-container {
        padding-top: 1%;
        width: 100%;
    }
    .form-container div {
        width: 100%;
        padding: 0px;
        margin: 0px;
        text-align: center;
    }
    .reset-container {
        text-align: center;
    }
    .button-container {
        text-align: center;
    }
    input {
        display: block;
        padding-top: 0.5%;
        padding-bottom: 0.5%;
        padding-left: 0.5%;
        border: 2px solid lightgray;
        border-radius: 5px;
        width: 50%;
        margin : 2% auto;
    }
    input:hover {
        border: 2px solid#338573;
    }
    .submit, .button {
        background-color: #338573;
        border: 2px solid #338573;
        color:white;
        border-radius: 5px;
        margin-left: 2px;
        font-family: Arial, Helvetica, sans-serif;
        padding: 7px 15px 7px 15px;
        margin-bottom: 1%;
    }
    .submit:hover, .button:hover {
        background-color: white;
        color: #338573;
    }
    .resetbutton {
        background-color: transparent;
        border: none;
        color:#338573;
        font-family: Arial, Helvetica, sans-serif;
        margin-top: 0%;
    }
    .resetbutton:hover {
        text-decoration: underline;
    }
    .footer {
        background-color: #338573;
        width: 100%;
        bottom: 0px;
        left: 0px;
        padding: 0.75%;
        margin-top: 1%;
    }
}