.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5vh 5vw;
  background-color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #ddd;
}

.logo {
  font-size: 3vw;
  font-weight: bold;
  color: #2F855A;
}

.login-btn{
  margin-right:1vw;
  text-decoration: none;
  color: black;
  font-size: 1.5vw;
}

.btn-post-job {
  background-color: #2F855A;
  color: white;
  padding: 1vh 2vw;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.5vw;
}